/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include "miryoku_alt.dtsi"
#include <dt-bindings/zmk/keys.h>

&encoder_1_top_row {
    status = "okay";
};

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
                                &kp C_PLAY_PAUSE  &kp KP_MULTIPLY &kp KP_DIVIDE
                &kp KP_NUMBER_7 &kp KP_NUMBER_8 &kp KP_NUMBER_9 &kp KP_MINUS
                &kp KP_NUMBER_4 &kp KP_NUMBER_5 &kp KP_NUMBER_6 &kp KP_PLUS
                &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_3 &lt 1 KP_ENTER
                &none           &kp KP_NUMBER_0 &kp KP_DOT      &none
            >;

            sensor-bindings = <&inc_dec_kp K_VOLUME_UP K_VOLUME_DOWN>;
        };

    };
};
